@mixin flex ($flexdirection, $justify){
    display: flex;
    flex-direction:$flexdirection ;
    justify-content: $justify;
    
}

.Nav-contianer{

    position: relative;
    max-height: 50px;
    width: 100%;
    // border: 1px solid green;
    @include flex(row, space-between);
    align-items: center;
    // background-color:white;
   

    .logo{

        // border: 1px solid red;
        // max-height: 300px;
        display: flex;
        column-gap: 5px;
        align-items: center;
       
       
        .logo-img{
            height: 2.2em;
            // height: 40px;
            width: 50px;
            // z-index: 10;
          

        }

        

        h1{
            font-size: 1.5rem;
        }
    }

    .Nav-links{
   
        display: flex;
        align-items: center;
        margin-right: 1em;
        column-gap: 7px;

        font-size: 1.2rem;
        .btn{
            display: flex;
            column-gap: 7px;
            height: 100%;
      
        }


        .btns{
            // border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 15px;
        }

        .Shop{
            display: flex;
            align-items: center;
            
          
            .burger{
            
                width: 45px;
               height: 50px;
                display: none;
               cursor: pointer;
            }
        }

   
        .content-link{
           
            display: flex;
            column-gap: 35px;
            margin-right: 1em;
            // border: 1px solid green;
          
            align-items: center;

           
            h1{
                margin: 0;
                padding: 0;
                font-size: 1.3rem;
            }
        }
       
    }
    
    @media (max-width:770px){


        display: block;
        
       

       
    
         .Nav-links{
            z-index: 10;
         
            background-color: black;
         
             flex-direction: column;
          align-items: flex-end;
          position: absolute;
        // border: 1px solid red;
          top: 100%;
          right: 0;
          margin: 0;
        height: 200px;
    // justify-content: space-;
            .content-link{
           
               flex-direction: column;
               gap: 14px;
               height: 50%;
               width: 100%;
               margin: 0;
                
             
               justify-content: space-around;
                // width: 100%;
                // flex-direction: column;
             
            }

            .toggle{
                display: none;
            }

            .btns{
                // width: 100%;
          
               flex-direction: column;
               justify-content: space-around;
               height: 50%;
               gap: 14px;
             
            }


            .Shop{
             
                position: absolute;
                 top: -26%;
                //  border: 1px solid green;
                right: 0;
                display: flex;
                align-items: center;
             
               
            
                justify-content: center;


                .burger{
                    display: flex;
                   
                  
                    
                }


                
            }


          

            

            

           

        }

        
        .logo{
         
           height: 50px;
            }
           
      

    }


    a{
        text-decoration: none;
        color: white;
    }

}
