$PrimeColor: #ad1a10;
.Container{
    color: $PrimeColor;
   
    width: 100vw;
    // position: absolute;
  


    .Testimonal{
      
        width: 90vw;
        // border: 1px solid red;
        height: fit-content;
        padding: 0 30px;
       
     

        .single-Testi{
          
  
            background-color: dimgrey;
            margin: 0 auto;
            color: white;
            height: 100%;
          
         


        .Image-Content{
            position: relative;
            // border: 10px solid green;
            // height: 100px;
            // height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 120px;
       
        


            .Overlay{
                background-color:rgb(46, 33, 33) ;
                width: 100%;
                // height: fit-content;
                height: 100%;
                position: absolute;
            }
            .Image-Card{
                border: 10px;
                // width: 50%;
                z-index: 5;
               
            width: 70%;
            height: 30%;
         
            }
        }

        img{
           
            width: 100%;
            max-width: 120px;
            // height: 30%;
            // height: 120px;
            height: 120px;
            object-fit: cover;
            object-position: center ;
            // height: 100%;
            border-radius:33% ;
            // margin: 0;
        }

        }

    .Card-Content{
        display: flex;
        flex-direction: column;
        word-break: break-all;
        padding: 0 13px;
        // border: 1px solid blue;
        height: 400px;
        overflow: hidden;
        margin-bottom: 15px;
      
      
    



  
    }



    }
    
}



.btn-sec{  
    position: absolute;
    margin-top: 4px;
    bottom: 5%;
    width: 90%;
    overflow: hidden;


    button{
      
        padding: 17px 14px;
        font-size: 1.1rem;
        width: 60%;

        
       
        border-radius: 5%;
        color: white;
        background-color: #ad1a10;
        cursor: pointer;
        border: none;

        &:hover{
            transform: scale(1.0400);
            overflow: hidden;
        }
    }
}