
.signUp-Container{
    margin: 0 auto;
 
    width: 90%;
    border: 1px solid green;
    color: white;
    background-color: #121212;
    
    margin: 5em auto 0 auto;

    display: flex;

 
    span{
        margin-bottom: 5px;
    }

  
      

     

        h2,h4{
            margin: 0;

        }
        h4{
            margin-bottom: 15px;
        }

    .signUp-content{
        width: 50%;
    }

    
    .Avatar-con{
        width: 50%;
        margin: 0 auto;
     
     
        .Avatar{
            width: 50%;
            max-width: 130px;
            height: fit-content;
            border: 1px solid green;
              
        }

        
    }

    
    



    
    
    .signUp-card{
        width: 50%;
        order: -1;
        border-right:1px solid orange;


    
    .logo{
        width: 100%;
        height: 100%;
    }

    }



    @media(max-width: 780px){
        .signUp-card{
            display: none;

        }

        .signUp-content{
            width: 100%;
        }


    }
}